.campaignFoo {
  width: 101px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #e0eef2;
  border-radius: 6px;
  margin-right: 12px;
}

.buttonSty {
  width: 49px;
  height: 44px;
  border: 0;
  padding: 0;
  background: #ffffff;
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.buttonSty:after {
  content: '';
  background: #90ee90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.buttonSty:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.lef {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid #e0eef2;
}
.rig {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #e0eef2;
}
