.campHeader {
    border-top: 1px solid#E0EEF2;
    border-bottom: 1px solid#E0EEF2;
    background-color:  #FFFFFF;
    display: flex;
    justify-content: left;
    align-items: center;    
}

.logo {
    width: 65px;
    height: 65px; 
    top: 89px;
    border-radius: 18px;
}

.itemsCampImg {
    float: left;
    padding: 16px;
}

.itemsCamp {
    float: left;
}

.itemsCampName{
    font-weight: bold;
    margin-bottom: 5px;
}

.itemsCampPpi {
    color: #009330;
}